<div>
<h3><%= _("Merge Articles")%></h3>
<%= form_tag(:controller => :content, :action => :merge) do %>
  <%= hidden_field_tag :source_article, @article.id %>
  <%= label_tag :merge_with, "Article ID" %>&nbsp;
  <%= text_field_tag :merge_with %><br />
  <%= submit_tag "Merge" %>
<% end %>
